<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Management System</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}" />

    <!-- Include your custom CSS for dark mode -->
    <link rel="stylesheet" th:href="@{/css/dark-mode.css}" />

    <!-- Include Bootstrap JavaScript (you need to adjust the path based on your project structure) -->
    <script th:src="@{/webjars/bootstrap/5.3.1/js/bootstrap.bundle.min.js}"></script>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <h1>Hello to the system</h1>
    <div th:replace="fragments/footer :: footer"></div>
    <script>
        // JavaScript for toggling dark mode
        const darkModeSwitch = document.getElementById('darkModeSwitch');
        darkModeSwitch.addEventListener('change', () => {
            document.body.classList.toggle('dark-mode');
        });
    </script>
</body>
</html>